01_Gotowe_oferty/20_system_rag_baza_wiedzy.json
{
  "name": "20 – System RAG – Baza Wiedzy (Telegram + Hybrid Search)",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "id": "telegram-trigger",
      "name": "Telegram – Nowa wiadomość",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "const msg = $input.first().json;\nconst text = msg.message?.text || '';\nconst chatId = msg.message?.chat?.id || '';\nconst userId = msg.message?.from?.id || '';\nconst username = msg.message?.from?.username || msg.message?.from?.first_name || 'User';\n\n// Komendy specjalne\nconst isUpload = text.startsWith('/dodaj') || text.startsWith('/upload');\nconst isSearch = !text.startsWith('/');\nconst isHelp = text === '/help' || text === '/pomoc';\nconst isStats = text === '/stats';\n\nreturn [{ json: { text, chatId, userId, username, isUpload, isSearch, isHelp, isStats } }];"
      },
      "id": "parse-telegram",
      "name": "Parsuj wiadomość Telegram",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.isHelp }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equal" }
            }
          ]
        }
      },
      "id": "if-help",
      "name": "Czy /help?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $('Parsuj wiadomość Telegram').first().json.chatId }}",
        "text": "🧠 *Baza Wiedzy Firmowej*\n\nJestem Twoim asystentem wiedzy. Zadaj mi pytanie w języku naturalnym, a odpowiem na podstawie dokumentów firmowych.\n\n*Komendy:*\n• Wpisz pytanie → szukam w dokumentach\n• /stats → statystyki bazy wiedzy\n• /help → ta wiadomość\n\n*Przykłady pytań:*\n• Jaka jest procedura onboardingu?\n• Co zawiera umowa z klientem premium?\n• Jakie są stawki za nadgodziny?",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "send-help",
      "name": "Wyślij pomoc",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [900, 180]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.isSearch }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equal" }
            }
          ]
        }
      },
      "id": "if-search",
      "name": "Czy pytanie?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 420]
    },
    {
      "parameters": {
        "chatId": "={{ $('Parsuj wiadomość Telegram').first().json.chatId }}",
        "text": "⏳ Szukam w bazie wiedzy...",
        "additionalFields": {}
      },
      "id": "send-searching",
      "name": "Wyślij 'Szukam...'",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "text": "={{ $('Parsuj wiadomość Telegram').first().json.text }}"
      },
      "id": "embed-query",
      "name": "Generuj embedding zapytania",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.1,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT id, tytul, tresc, kategoria, \n  1 - (embedding <=> '{{ JSON.stringify($json.embedding) }}'::vector) AS similarity\nFROM dokumenty_firmowe\nWHERE \n  tsc_search @@ plainto_tsquery('polish', '{{ $('Parsuj wiadomość Telegram').first().json.text }}')\n  OR (1 - (embedding <=> '{{ JSON.stringify($json.embedding) }}'::vector)) > 0.7\nORDER BY similarity DESC\nLIMIT 5;",
        "options": {}
      },
      "id": "hybrid-search",
      "name": "Hybrid Search (pgvector + FTS)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1560, 300],
      "credentials": {
        "postgres": { "name": "Postgres – Baza Wiedzy" }
      }
    },
    {
      "parameters": {
        "jsCode": "const results = $input.all();\nif (!results || results.length === 0) {\n  return [{ json: { kontekst: null, pytanie: $('Parsuj wiadomość Telegram').first().json.text } }];\n}\n\nconst kontekst = results\n  .filter(r => r.json.similarity > 0.6)\n  .map(r => `## ${r.json.tytul} (kategoria: ${r.json.kategoria})\\n${r.json.tresc}`)\n  .join('\\n\\n---\\n\\n');\n\nreturn [{ json: { kontekst, pytanie: $('Parsuj wiadomość Telegram').first().json.text, znalezionoDokumentow: results.length } }];"
      },
      "id": "prepare-context",
      "name": "Przygotuj kontekst RAG",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Jesteś asystentem bazy wiedzy firmowej. Odpowiadaj WYŁĄCZNIE na podstawie dostarczonych dokumentów. Odpowiadaj po polsku, zwięźle i precyzyjnie.\n\nJeśli informacja nie jest w dokumentach, napisz: 'Nie znalazłem tej informacji w bazie wiedzy firmowej. Skontaktuj się z działem HR/Zarządem.'\n\nZaznaczaj źródło informacji (tytuł dokumentu)."
            },
            {
              "role": "user",
              "content": "=Dokumenty firmowe:\n{{ $json.kontekst || 'Brak pasujących dokumentów' }}\n\n---\nPytanie pracownika: {{ $json.pytanie }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ai-answer",
      "name": "AI – Odpowiedź z kontekstem",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.3,
      "position": [2000, 300]
    },
    {
      "parameters": {
        "jsCode": "const aiResponse = $input.first().json.message?.content || $input.first().json.choices?.[0]?.message?.content || 'Przepraszam, wystąpił błąd.';\nconst docs = $('Przygotuj kontekst RAG').first().json.znalezionoDokumentow || 0;\nconst footer = `\\n\\n_Przeszukano ${docs} dokumentów_`;\nreturn [{ json: { odpowiedz: aiResponse + footer, chatId: $('Parsuj wiadomość Telegram').first().json.chatId } }];"
      },
      "id": "format-answer",
      "name": "Formatuj odpowiedź",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2220, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.odpowiedz }}",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "send-answer",
      "name": "Wyślij odpowiedź przez Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2440, 300]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rag-add-document",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-add-doc",
      "name": "Webhook – Dodaj dokument do bazy",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 600]
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "text": "={{ $json.body.tresc || $json.tresc }}"
      },
      "id": "embed-document",
      "name": "Generuj embedding dokumentu",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.1,
      "position": [460, 600]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO dokumenty_firmowe (tytul, tresc, kategoria, embedding, data_dodania)\nVALUES (\n  '{{ $('Webhook – Dodaj dokument do bazy').first().json.body.tytul || 'Dokument' }}',\n  '{{ $('Webhook – Dodaj dokument do bazy').first().json.body.tresc.replace(/'/g, \"''\") }}',\n  '{{ $('Webhook – Dodaj dokument do bazy').first().json.body.kategoria || 'Ogólne' }}',\n  '{{ JSON.stringify($json.embedding) }}'::vector,\n  NOW()\n)\nRETURNING id;",
        "options": {}
      },
      "id": "insert-document",
      "name": "Zapisz dokument do bazy (Postgres)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [680, 600],
      "credentials": {
        "postgres": { "name": "Postgres – Baza Wiedzy" }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"ok\", \"id\": {{ $json[0].id }} }"
      },
      "id": "respond-doc-added",
      "name": "Potwierdź dodanie dokumentu",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 600]
    }
  ],
  "connections": {
    "Telegram – Nowa wiadomość": { "main": [[{ "node": "Parsuj wiadomość Telegram", "type": "main", "index": 0 }]] },
    "Parsuj wiadomość Telegram": { "main": [[{ "node": "Czy /help?", "type": "main", "index": 0 }]] },
    "Czy /help?": {
      "main": [
        [{ "node": "Wyślij pomoc", "type": "main", "index": 0 }],
        [{ "node": "Czy pytanie?", "type": "main", "index": 0 }]
      ]
    },
    "Czy pytanie?": {
      "main": [
        [{ "node": "Wyślij 'Szukam...'", "type": "main", "index": 0 }],
        []
      ]
    },
    "Wyślij 'Szukam...'": { "main": [[{ "node": "Generuj embedding zapytania", "type": "main", "index": 0 }]] },
    "Generuj embedding zapytania": { "main": [[{ "node": "Hybrid Search (pgvector + FTS)", "type": "main", "index": 0 }]] },
    "Hybrid Search (pgvector + FTS)": { "main": [[{ "node": "Przygotuj kontekst RAG", "type": "main", "index": 0 }]] },
    "Przygotuj kontekst RAG": { "main": [[{ "node": "AI – Odpowiedź z kontekstem", "type": "main", "index": 0 }]] },
    "AI – Odpowiedź z kontekstem": { "main": [[{ "node": "Formatuj odpowiedź", "type": "main", "index": 0 }]] },
    "Formatuj odpowiedź": { "main": [[{ "node": "Wyślij odpowiedź przez Telegram", "type": "main", "index": 0 }]] },
    "Webhook – Dodaj dokument do bazy": { "main": [[{ "node": "Generuj embedding dokumentu", "type": "main", "index": 0 }]] },
    "Generuj embedding dokumentu": { "main": [[{ "node": "Zapisz dokument do bazy (Postgres)", "type": "main", "index": 0 }]] },
    "Zapisz dokument do bazy (Postgres)": { "main": [[{ "node": "Potwierdź dodanie dokumentu", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "agenci-ai" }, { "name": "rag" }]
}
