01_Gotowe_oferty/22_23_followup_social_media.json
{
  "name": "22+23 – Auto Follow-Up Ofert + Auto Publikacja Social Media",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "hours", "minutesInterval": 24 }] }
      },
      "id": "cron-followup",
      "name": "Cron – Sprawdzaj oferty codziennie",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 180]
    },
    {
      "parameters": {
        "operation": "search",
        "base": { "value": "YOUR_AIRTABLE_BASE_ID" },
        "table": { "value": "Oferty" },
        "filterByFormula": "=AND(\n  {Status} = 'Wysłana',\n  {Follow_Up_Wysłany} = FALSE(),\n  DATETIME_DIFF(NOW(), {Data_Wysłania}, 'days') >= {Dni_Do_Follow_Up}\n)",
        "options": {}
      },
      "id": "airtable-pending-offers",
      "name": "Pobierz oferty bez odpowiedzi (Airtable)",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [460, 180]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ]
        }
      },
      "id": "if-offers-exist",
      "name": "Są oferty do follow-up?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 180]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Piszesz profesjonalne maile follow-up do potencjalnych klientów w języku polskim. Mail ma być:\n- Krótki (3-4 zdania)\n- Nienatarczywy, ale konkretny\n- Zawierać wartość dodaną (dodatkowy argument)\n- Zakończony pytaniem otwartym\n\nZwróć TYLKO treść maila, bez tematu."
            },
            {
              "role": "user",
              "content": "=Napisz follow-up do oferty:\n\nKlient: {{ $json.fields['Nazwa_Klienta'] }}\nOsoba kontaktowa: {{ $json.fields['Imie_Nazwisko'] }}\nOferta: {{ $json.fields['Nazwa_Oferty'] }}\nKwota: {{ $json.fields['Wartosc_Oferty'] }} zł\nData wysłania: {{ $json.fields['Data_Wysłania'] }}\nDni bez odpowiedzi: {{ $json.fields['Dni_Do_Follow_Up'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ai-followup-draft",
      "name": "AI – Draft follow-up maila",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.3,
      "position": [900, 180]
    },
    {
      "parameters": {
        "channel": "#oferty-followup",
        "text": "=📧 *Nowy draft follow-up do zatwierdzenia*\n\n*Klient:* {{ $('Pobierz oferty bez odpowiedzi (Airtable)').first().json.fields['Nazwa_Klienta'] }}\n*Oferta:* {{ $('Pobierz oferty bez odpowiedzi (Airtable)').first().json.fields['Nazwa_Oferty'] }}\n*Wartość:* {{ $('Pobierz oferty bez odpowiedzi (Airtable)').first().json.fields['Wartosc_Oferty'] }} zł\n\n*Proponowana treść:*\n```{{ $json.message?.content || $json.choices?.[0]?.message?.content }}```\n\nZatwierdź klikając: https://YOUR_N8N_URL/webhook/approve-followup?id={{ $('Pobierz oferty bez odpowiedzi (Airtable)').first().json.id }}\nOdrzuć: https://YOUR_N8N_URL/webhook/reject-followup?id={{ $('Pobierz oferty bez odpowiedzi (Airtable)').first().json.id }}",
        "otherOptions": {}
      },
      "id": "slack-approve",
      "name": "Slack – Wyślij do zatwierdzenia",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1120, 180]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "approve-followup",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-approve",
      "name": "Webhook – Zatwierdź follow-up",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 420]
    },
    {
      "parameters": {
        "operation": "get",
        "base": { "value": "YOUR_AIRTABLE_BASE_ID" },
        "table": { "value": "Oferty" },
        "id": "={{ $json.query.id }}"
      },
      "id": "get-offer-details",
      "name": "Pobierz szczegóły oferty",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [460, 420]
    },
    {
      "parameters": {
        "fromEmail": "sprzedaz@twojafirma.pl",
        "toEmail": "={{ $json.fields['Email_Klienta'] }}",
        "subject": "=Oferta {{ $json.fields['Nazwa_Oferty'] }} – czy mam odpowiedzieć na pytania?",
        "emailType": "html",
        "message": "=<p>Dzień dobry {{ $json.fields['Imie_Nazwisko'] }},</p>\n<p>{{ $('AI – Draft follow-up maila').first().json.message?.content || 'Chciałem zapytać o status naszej oferty.' }}</p>\n<p>Z poważaniem,<br>Zespół Sprzedaży</p>"
      },
      "id": "send-followup-email",
      "name": "Wyślij follow-up email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [680, 420]
    },
    {
      "parameters": {
        "operation": "update",
        "base": { "value": "YOUR_AIRTABLE_BASE_ID" },
        "table": { "value": "Oferty" },
        "id": "={{ $('Pobierz szczegóły oferty').first().json.id }}",
        "fields": {
          "fieldValues": [
            { "fieldName": "Follow_Up_Wysłany", "fieldValue": true },
            { "fieldName": "Data_Follow_Up", "fieldValue": "={{ $now }}" }
          ]
        },
        "options": {}
      },
      "id": "update-offer-status",
      "name": "Oznacz follow-up jako wysłany",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [900, 420]
    },
    {
      "parameters": {
        "respondWith": "html",
        "responseBody": "<!DOCTYPE html><html lang=\"pl\"><body style=\"font-family:Arial;text-align:center;padding:50px;\"><h2>✅ Follow-up zatwierdzony i wysłany!</h2></body></html>"
      },
      "id": "respond-approved",
      "name": "Potwierdź zatwierdzenie",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 420]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "social-media-post",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-social",
      "name": "Webhook – Pomysł na post",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 660]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Jesteś ekspertem content marketingu. Na podstawie podanego pomysłu generujesz 3 warianty postów do mediów społecznościowych w języku polskim.\n\nZwróć JSON:\n{\n  \"linkedin\": {\n    \"wariant_1\": \"profesjonalny post z insights\",\n    \"wariant_2\": \"post storytellingowy\",\n    \"wariant_3\": \"post edukacyjny z listą\"\n  },\n  \"instagram\": {\n    \"caption\": \"krótki chwytliwy tekst + hashtagi\",\n    \"hashtagi\": [\"lista\", \"hashtagow\"]\n  },\n  \"twitter_x\": {\n    \"tweet\": \"max 280 znaków\",\n    \"thread\": [\"tweet 1\", \"tweet 2\", \"tweet 3\"]\n  },\n  \"rekomendowany_wariant\": \"który wariant LinkedIn polecasz i dlaczego\"\n}"
            },
            {
              "role": "user",
              "content": "=Pomysł na post: {{ $json.body.pomysl || $json.pomysl }}\nBranża: {{ $json.body.branza || $json.branza || 'B2B/AI Automation' }}\nTon: {{ $json.body.ton || $json.ton || 'profesjonalny i ekspercki' }}"
            }
          ]
        },
        "options": {
          "responseFormat": "json_object"
        }
      },
      "id": "ai-social-posts",
      "name": "AI – Generuj warianty postów",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.3,
      "position": [460, 660]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.message?.content || $input.first().json.choices?.[0]?.message?.content || '{}';\nlet posty;\ntry { posty = JSON.parse(raw); } catch(e) { posty = { error: raw }; }\nconst email = $('Webhook – Pomysł na post').first().json.body?.email || '';\nreturn [{ json: { posty, email } }];"
      },
      "id": "parse-posts",
      "name": "Parsuj warianty postów",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 660]
    },
    {
      "parameters": {
        "fromEmail": "content@twojafirma.pl",
        "toEmail": "={{ $json.email || 'admin@twojafirma.pl' }}",
        "subject": "✍️ 3 warianty Twoich postów są gotowe!",
        "emailType": "html",
        "message": "=<!DOCTYPE html><html lang=\"pl\"><head><meta charset=\"UTF-8\"><style>body{font-family:Arial,sans-serif;max-width:700px;margin:0 auto;padding:20px;}.platform{background:#f0f4ff;border-left:4px solid #0077b5;padding:15px;margin:15px 0;border-radius:4px;}.twitter{border-color:#1DA1F2;background:#f0f8ff;}.instagram{border-color:#E1306C;background:#fff0f4;}.approve-btn{display:inline-block;background:#28a745;color:white;padding:10px 20px;border-radius:5px;text-decoration:none;margin:5px;}</style></head><body><h1>✍️ Warianty Twoich postów</h1><h2>💼 LinkedIn</h2><div class=\"platform\"><h3>Wariant 1 – Insights</h3><p>{{ $json.posty.linkedin?.wariant_1 }}</p></div><div class=\"platform\"><h3>Wariant 2 – Storytelling</h3><p>{{ $json.posty.linkedin?.wariant_2 }}</p></div><div class=\"platform\"><h3>Wariant 3 – Edukacyjny</h3><p>{{ $json.posty.linkedin?.wariant_3 }}</p></div><h2 style=\"color:#E1306C;\">📸 Instagram</h2><div class=\"instagram platform\"><p>{{ $json.posty.instagram?.caption }}</p><p><em>Hashtagi: {{ ($json.posty.instagram?.hashtagi || []).join(' ') }}</em></p></div><h2 style=\"color:#1DA1F2;\">🐦 X (Twitter)</h2><div class=\"twitter platform\"><p><strong>Tweet:</strong> {{ $json.posty.twitter_x?.tweet }}</p></div><h2>💡 Rekomendacja</h2><p>{{ $json.posty.rekomendowany_wariant }}</p><hr><p>Kliknij wariant który chcesz opublikować:</p><a href=\"https://YOUR_N8N_URL/webhook/publish-post?variant=linkedin_1\" class=\"approve-btn\">LinkedIn W1</a><a href=\"https://YOUR_N8N_URL/webhook/publish-post?variant=linkedin_2\" class=\"approve-btn\">LinkedIn W2</a><a href=\"https://YOUR_N8N_URL/webhook/publish-post?variant=all\" class=\"approve-btn\" style=\"background:#0077b5;\">Opublikuj wszystkie</a></body></html>"
      },
      "id": "email-post-variants",
      "name": "Wyślij warianty emailem",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [900, 660]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"ok\", \"message\": \"Warianty postów wysłane na email\" }"
      },
      "id": "respond-social",
      "name": "Potwierdź generowanie postów",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 660]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "publish-post",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-publish",
      "name": "Webhook – Publikuj post (Blotato)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 900]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.blotato.com/api/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer YOUR_BLOTATO_API_KEY" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={\n  \"platforms\": [\"linkedin\", \"twitter\", \"instagram\"],\n  \"content\": \"{{ $json.query.content || 'Post content' }}\",\n  \"schedule\": \"now\"\n}"
      },
      "id": "blotato-publish",
      "name": "Publikuj przez Blotato",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 900]
    },
    {
      "parameters": {
        "fromEmail": "content@twojafirma.pl",
        "toEmail": "admin@twojafirma.pl",
        "subject": "✅ Post opublikowany na social media!",
        "emailType": "html",
        "message": "<p>Post został pomyślnie opublikowany na wybranych platformach przez Blotato.</p><p>Odpowiedź API: {{ JSON.stringify($json) }}</p>"
      },
      "id": "confirm-publish-email",
      "name": "Potwierdzenie publikacji emailem",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [680, 900]
    },
    {
      "parameters": {
        "respondWith": "html",
        "responseBody": "<!DOCTYPE html><html lang=\"pl\"><body style=\"font-family:Arial;text-align:center;padding:50px;background:#f0fff4;\"><h2>🚀 Post opublikowany!</h2><p>Twój post został wysłany na LinkedIn, Instagram i X.</p><p>Potwierdzenie zostało wysłane na email.</p></body></html>"
      },
      "id": "respond-published",
      "name": "Strona potwierdzenia publikacji",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 900]
    }
  ],
  "connections": {
    "Cron – Sprawdzaj oferty codziennie": { "main": [[{ "node": "Pobierz oferty bez odpowiedzi (Airtable)", "type": "main", "index": 0 }]] },
    "Pobierz oferty bez odpowiedzi (Airtable)": { "main": [[{ "node": "Są oferty do follow-up?", "type": "main", "index": 0 }]] },
    "Są oferty do follow-up?": {
      "main": [
        [{ "node": "AI – Draft follow-up maila", "type": "main", "index": 0 }],
        []
      ]
    },
    "AI – Draft follow-up maila": { "main": [[{ "node": "Slack – Wyślij do zatwierdzenia", "type": "main", "index": 0 }]] },
    "Webhook – Zatwierdź follow-up": { "main": [[{ "node": "Pobierz szczegóły oferty", "type": "main", "index": 0 }]] },
    "Pobierz szczegóły oferty": { "main": [[{ "node": "Wyślij follow-up email", "type": "main", "index": 0 }]] },
    "Wyślij follow-up email": { "main": [[{ "node": "Oznacz follow-up jako wysłany", "type": "main", "index": 0 }]] },
    "Oznacz follow-up jako wysłany": { "main": [[{ "node": "Potwierdź zatwierdzenie", "type": "main", "index": 0 }]] },
    "Webhook – Pomysł na post": { "main": [[{ "node": "AI – Generuj warianty postów", "type": "main", "index": 0 }]] },
    "AI – Generuj warianty postów": { "main": [[{ "node": "Parsuj warianty postów", "type": "main", "index": 0 }]] },
    "Parsuj warianty postów": { "main": [[{ "node": "Wyślij warianty emailem", "type": "main", "index": 0 }]] },
    "Wyślij warianty emailem": { "main": [[{ "node": "Potwierdź generowanie postów", "type": "main", "index": 0 }]] },
    "Webhook – Publikuj post (Blotato)": { "main": [[{ "node": "Publikuj przez Blotato", "type": "main", "index": 0 }]] },
    "Publikuj przez Blotato": { "main": [[{ "node": "Potwierdzenie publikacji emailem", "type": "main", "index": 0 }]] },
    "Potwierdzenie publikacji emailem": { "main": [[{ "node": "Strona potwierdzenia publikacji", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "agenci-ai" }, { "name": "social-media" }]
}
